<div class="container">
    <h2 style="margin-top: 100px;">Add Student</h2>
    <hr>
    <form method="POST" action="/addstudent" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="pl-lg-4">
            <div class="row mt-2" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First Name *</label>
                        <input type='text' name="firstname" class="form-control" placeholder="Name" required />
                        <div class="invalid-tooltip">
                            Please provide first name.
                        </div>
                    </div>
                </div>
                   
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last Name</label>
                        <input type="text" name="lastname" id="input-last-name" class="form-control">
                        <div class="invalid-tooltip">
                            Please provide valid user lastname.
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-email">Email *</label>
                        <input type='email' class="form-control" placeholder="Name"
                            name="email" required />
                        <div class="invalid-tooltip">
                            Please provide name.
                        </div>
                    </div>
                </div>
                   
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="coverImage">Profile Image</label>
                        <input type="file" name="images" accept="image/*" id="coverImage" class="form-control">
                        <div class="invalid-tooltip">
                            Please provide valid user image.
                        </div>
                    </div>
                </div>
            </div>
          
        <div class="row mt-2">
            <div class="form-group">
                <label class="form-control-label" for="input-first-name">About User *</label>
                <textarea class="form-control" rows="5" name="review" placeholder="About user here..." required></textarea>
                <div class="invalid-tooltip">
                    Please provide about.
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 text-right">
            <input type="submit" class="btn btn-md btn-primary" style="background-color: black;" value="Save User">
        </div>
    </form>
</div>